<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="en_dictionary_pro.Properties.Settings.en_dictionaryConnectionString"
            connectionString="Data Source=MY-PC\MY_SERVER;Initial Catalog=en_dictionary;Persist Security Info=True;User ID=sa;Password=111"
            providerName="System.Data.SqlClient" />
        <add name="en_dictionary_pro.Properties.Settings.en_dictionaryConnectionString1"
            connectionString="Data Source=DESKTOP-M6CVO2O\PASDARANSQL;Initial Catalog=en_dictionary;User ID=sa;Password=313"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>